
@{
    ViewBag.Title = "MissionFAQ";
}

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<!-- Breadcrumb -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Home</a></li>
        <li class="breadcrumb-item"><a href="@Url.Action("Missions", "Home")">Missions</a></li>
        <li class="breadcrumb-item active" aria-current="page">@ViewBag.mTitle Mission</li>
    </ol>
</nav>

<!-- Main mission information -->
<div class="jumbotron">
    <h2>About the</h2>
    <h1>@ViewBag.mTitle Mission</h1>
    <p>
        <img src="@ViewBag.mFlag" alt="Mission Flag" style="width:30%;align-content:center;" />
    </p>
    <p><b>Current Mission President:</b> @ViewBag.mPresident</p>
    <p><b>Mission Address:</b> @ViewBag.mAddress</p>
    <p><b>Language(s):</b> @ViewBag.mLanguage</p>
    <p><b>Climate:</b> @ViewBag.mClimate</p>
    <p><b>Dominant Religion(s):</b> @ViewBag.mReligion</p>
</div>

<!-- FAQs -->
<div>
    <h3>Mission FAQ</h3>

    <!-- Default Questions -->
    <button onclick="getDroppedText('drop1')" class="w3-btn w3-block w3-black w3-left-align">How many members live in this mission?</button>
    <div id="drop1" class="w3-container w3-hide">
        <h4>160,000 members</h4>
        <p>6 stakes and 3 branches</p>
        <form id="myDIV" action="" method="post" style="display:block;">
            <input type="text" name="answer" id="AnswerForm" placeholder="Write your answer here . ." />
            <input type="submit" value="Post an answer" />
        </form>
        <br />
    </div>
    <button onclick="getDroppedText('drop2')" class="w3-btn w3-block w3-black w3-left-align">Do the missionaries have iPhones here?</button>
    <div id="drop2" class="w3-container w3-hide">
        <h4>Yes, but only those who work in the office.</h4>
        <p>All others have Nokia phones.</p>
        <form id="myDIV" action="" method="post" style="display:block;">
            <input type="text" name="answer" id="AnswerForm" placeholder="Write your answer here . ." />
            <input type="submit" value="Post an answer" />
        </form>
        <br />
    </div>
    <button onclick="getDroppedText('drop3')" class="w3-btn w3-block w3-black w3-left-align">How many people are typically baptized every month in the @ViewBag.mTitle Mission?</button>
    <div id="drop3" class="w3-container w3-hide">
        <h4>Recent average: 150 per month</h4>
        <p>This number changes depending on the time of the year.</p>
        <form id="myDIV" action="" method="post" style="display:block;">
            <input type="text" name="answer" id="AnswerForm" placeholder="Write your answer here . ." />
            <input type="submit" value="Post an answer" />
        </form>
        <br />
    </div>

    @{ int iCount = 0;}
    @foreach (var sQuestion in ViewBag.Qs)
    {
        <button onclick="getDroppedText('@iCount.ToString()')" class="w3-btn w3-block w3-black w3-left-align">@sQuestion</button>
        <div id="@iCount.ToString()" class="w3-container w3-hide">
            <h4>No answer yet.</h4>
            <p></p>
            <form id="myDIV" action="" method="post" style="display:block;">
                <input type="text" name="answer" id="AnswerForm" placeholder="Write your answer here . ." />
                <input type="submit" value="Post an answer" />
            </form>
            <br />
        </div>
        iCount++;
    }
</div>

<br />
<br />

<!-- Comment box -->
<div>
    @{
        if (ViewBag.mTitle == "London England")
        {
            <form action="/Home/AddUKQ" method="post">
                <input type="text" name="question" id="ContactForm" placeholder="Ask a new question . .">
                <br />
                <input type="submit" value="Post">
            </form>
        }
        else if (ViewBag.mTitle == "China Hong Kong")
        {
            <form action="/Home/AddHKQ" method="post">
                <input type="text" name="question" id="ContactForm" placeholder="Ask a new question . .">
                <br />
                <input type="submit" value="Post">
            </form>
        }
        else if (ViewBag.mTitle == "Utah Ogden")
        {
            <form action="/Home/AddODQ" method="post">
                <input type="text" name="question" id="ContactForm" placeholder="Ask a new question . .">
                <br />
                <input type="submit" value="Post">
            </form>
        };
    }
</div>


<!-- JavaScript -->
<script>
    function getDroppedText(id) {
        var x = document.getElementById(id);
        if (x.className.indexOf("w3-show") === -1) {
            x.className += " w3-show";
        } else {
            x.className = x.className.replace(" w3-show", "");
        }
    }

    function showAnswerForm() {
        var x = document.getElementById("myDIV");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
</script>
