
@{
    ViewBag.Title = "MissionFAQ";
}

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<!-- Breadcrumb -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Home</a></li>
        <li class="breadcrumb-item"><a href="@Url.Action("Missions", "Home")">Missions</a></li>
        <li class="breadcrumb-item active" aria-current="page">@ViewBag.mTitle Mission</li>
    </ol>
</nav>

<!-- Main mission information -->
<div class="jumbotron">
    <h2>About the</h2>
    <h1>@ViewBag.mTitle Mission</h1>
    <p>
        <img src="@ViewBag.mFlag" alt="Mission Flag" style="width:30%;align-content:center;" />
    </p>
    <p><b>Current Mission President:</b> @ViewBag.mPresident</p>
    <p><b>Mission Address:</b> @ViewBag.mAddress</p>
    <p><b>Language(s):</b> @ViewBag.mLanguage</p>
    <p><b>Climate:</b> @ViewBag.mClimate</p>
    <p><b>Dominant Religion(s):</b> @ViewBag.mReligion</p>
</div>

<!-- FAQs -->
<div>
    <h3>Mission FAQ</h3>
    @{ int iCount = 0;}
    @foreach (var sQuestion in ViewBag.Qs)
    {
        <button onclick="getDroppedText('@iCount.ToString()')" class="w3-btn w3-block w3-black w3-left-align">@sQuestion</button>
        <div id="@iCount.ToString()" class="w3-container w3-hide">
            <h4>Section 1</h4>
            <p>Some text..</p>
            <p>
                <input type="submit" value="Have a better answer?" onclick="">
            </p>
        </div>
        iCount++;
     }
</div>

<br />
<br />

<!-- Comment box -->
<div>
    @{
        if (ViewBag.mTitle == "London England")
        {
            <form action="/Home/AddUKQ" method="post">
                <input type="text" name="question" id="ContactForm" placeholder="Ask a new question . .">
                <br />
                <input type="submit" value="Post">
            </form>
        }
        else if (ViewBag.mTitle == "China Hong Kong")
        {
            <form action="/Home/AddHKQ" method="post">
                <input type="text" name="question" id="ContactForm" placeholder="Ask a new question . .">
                <br />
                <input type="submit" value="Post">
            </form>
        }
        else if (ViewBag.mTitle == "Utah Ogden")
        {
            <form action="/Home/AddODQ" method="post">
                <input type="text" name="question" id="ContactForm" placeholder="Ask a new question . .">
                <br />
                <input type="submit" value="Post">
            </form>
        };
    }
</div>


<!-- JavaScript -->
<script>
    function getDroppedText(id) {
        var x = document.getElementById(id);
        if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
        } else {
            x.className = x.className.replace(" w3-show", "");
        }
    }
</script>
